include tech-item-base
include tech-item-dop
section.tech.hidden-sm(id='tech')
    .container
        .heading
            h3.heading__h Технологии ЭКО-окон завода «САКСЭС»
            
        .tech__row
            .tech__row__col
                
                .tech-heading
                    span.tech-heading__badge._primary База
                        +icon('flag')
                    h4.tech-heading__text Комплекс базовых технологий ЭКО-окон САКСЭС

                .tech-list
                    +tech-item-base(
                        icons=['base-A']
                        title='Профиль (5-6 камер)'
                        lead='(системная глубина 70 или 80 мм)'
                        text='Вся линейка ЭКО-окон снабжена 5-6-камерным профилем. Сопротивление теплопередачи профиля на 35% выше (R₀=0.85/0.98 против 0.73 у обычных окон).'
                        )
                    +tech-item-base(
                        icons=['base-48', 'base-40']
                        title='Энергоэффективный стеклопакет'
                        text='Два стекла с энергосбережением, стеклопакет с увеличенной шириной 40 мм или 48 мм (вместо 32 мм), как следствие стеклопакет и профиль дают сопротивление теплопередачи в 2,5 раза выше чем у обычных пластиковых окон. (Сопротивление теплопередачи экоокон R₀=1,2, против обычного 0,47).'
                        )
                    +tech-item-base(
                        icons=['base-sun']
                        title='Умные стекла'
                        text='Функциональные стекла обладающие следующими свойствами: теплоизоляция зимой, защита от перегрева помещений летом, звукоизоляцию, обеспечение безопасности, эстетику.'
                        )
                    +tech-item-base(
                        icons=['base-argon']
                        title='Аргонный барьер'
                        text='Две воздушные камеры заполненные аргоном дополняют свойства теплых стекол.'
                        )
                    +tech-item-base(
                        icons=['base-outline']
                        title='Теплая рамка'
                        text='Усиленная металлопластиковая рамка исключает образование наледи и конденсата в краевой зоне стеклопакета. '
                        )
                    +tech-item-base(
                        icons=['base-sec']
                        title='Безопасность'
                        text='Фурнитура GU Германия. Безопасная ручка c механизмом Secustik ,блокирует ручку при попытке воздействия на нее снаружи через запирающий механизм.'
                        )
                    +tech-item-base(
                        icons=['base-16', 'base-10']
                        title='Теплый откос'
                        text='Сэндвич-панель 10 или 16 мм + утеплитель из минеральной ваты.'
                        )
        
            .tech__row__col
        
                .tech-heading
                    span.tech-heading__badge._secondary Допы
                        +icon('plus')
                    h4.tech-heading__text Дополнительные технологии по назначению

                .tech-list
                    +tech-item-dop(
                        icons=['dop-1']
                        title='Ультратеплый стеклопакет'
                        href='#config-1'
                        text='Тепло даже в самые суровые морозы.'
                        )
                    +tech-item-dop(
                        icons=['dop-2']
                        title='Системы притока и очистки воздуха* (аэро)'
                        href='#config-4'
                        text='Чистый воздух без шума и пыли.'
                        )
                    +tech-item-dop(
                        icons=['dop-3']
                        title='Антирезонансный стеклопакет* (Стопшум)'
                        href='#config-3'
                        text='Повышенные звукоизоляционные свойства за счет использования камер разной ширины и стекла 6 или 8 мм. Звукоизоляция достигает 50 дБ. (Стандартный пакет 20 дБ).'
                        )
                    +tech-item-dop(
                        icons=['dop-4']
                        title='Стекло Stopsol (Солнцезащита)'
                        href='#config-2'
                        text='Снижает солнечный фактор на 70% (в 3 раза эффективнее обычных стекол). Комфортно в жару, — помещение не нагревается.'
                        )
                    +tech-item-dop(
                        icons=['dop-5']
                        title='Щит'
                        href='#config-5'
                        text='Взломостойкая Фурнитура WK1 и WK2 + специальное ударопрочное стекло (защитная плёнка класса А2 или триплекс)'
                        )
                    +tech-item-dop(
                        icons=['dop-6']
                        title='Детская безопасность'
                        href='#config-6'
                        text='Детский замок + специальное ударопрочное стекло, противоосколочная пленка.'
                        )
                        
                .tech-itog
                    .tech-itog__inner
                        span.tech-itog__h Результат, которого 
                            br
                            | вы достойны: 
                        span.tech-itog__text 
                            span.tech-itog__text__accent Формула здоровья
                            | Чистый воздух, климат-контроль, 
                            br
                            | тишина, безопасность
                    a.btn._secondary._for-white.js-popup(href='#calc' data-action="Технологии") Рассчитать свои эко-окна
                    .tech-itog__img-wrapper
                        img.tech-itog__img(src='img/itog.svg')